header {
   background: #5f5fc4 !important;
}

header span {
   color: #fff;
}

#info-wrapper {
   display: flex;
   font-size: 16px;
}

#lazy-wrapper {
   width: 240px;
}

#queue-wrapper {
   width: 150px;
}

#wait-wrapper {
   width: 250px;
}